:root {
  font-family: Open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
  margin: auto;
  padding: 25px;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  height: auto;
  margin: 5px 5px auto;
  padding: 20px;
}

.box {
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
  margin: 10px;
  padding: 25px;
  width: 280px;
  height: 150px;
  border-radius: 10px black;
  overflow: hidden;
}

.box:hover {
  height: auto;
  width: auto;
}

.box > h1 {
  align-content: center;
  justify-content: center;
  display: flex;
  font-weight: 400;
}

.address {
  display: flex;
  align-content: left;
  justify-content: left;
  padding: 15px;
  color: black;
  font-weight: 3000;
}

.box > h2 {
  display: flex;
  justify-content: center;
}

.rating {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rating > h2 {
  padding: 5px
}
